body {
  background-color: rgba(247, 70, 70, 0.63);
}
.App {
  background-color: rgba(5, 16, 26, 0.61);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
.to-do-form,
input {
  background-color: aqua;
  width: 200px;
  height: 40px;
  border: 0;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
}

.to-do-form,
button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(76, 233, 97, 0.507);
  cursor: pointer;
  font-weight: bolder;
}
